<!--The whole content below can be removed with the new code.-->
<!--<div appHightlight style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<app-alert>
  <strong>this is app-alert component!</strong>
</app-alert>

<app-alert type="warning" dismissOnTimeout="1000" (onClosed)="receive($event)">
  <strong>this is app-alert warning component!</strong>
</app-alert>

<app-alert type="error">
  <strong>this is app-app-alert error component!</strong>
</app-alert>

<div>
  <app-alert [type]="alertType" dismissible="true" (onClosed)="receive($event)">this is can be closed component</app-alert>
</div>

<router-outlet></router-outlet>
<ul class="nav child_menu">
  <li><a routerLink="about">about</a></li>
  <li><a routerLink="home">home</a></li>
</ul>

<p>日期格式化管道：{{ date | date: "y-MM-dd EEEE"}}</p>
<p>性别格式化管道：{{ sex | sexform: [1,2,3]}}</p>-->

<!--<app-left-nav></app-left-nav>-->
<!-- <p-treeNodeTemplateLoader></p-treeNodeTemplateLoader> -->
<!-- <tree
      [tree]="tree"
      [settings]="settings"
      (nodeRemoved)="handleRemoved($event)"
      (nodeRenamed)="handleRenamed($event)"
      (nodeSelected)="handleSelected($event)"
      (nodeMoved)="handleMoved($event)"
      (nodeCreated)="handleCreated($event)"
      (nodeExpanded)="handleExpanded($event)"
      (nodeCollapsed)="handleCollapsed($event)">
    </tree> -->
    
